/* styles.css */

/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Contenedor del encabezado */
.contenedor-header {
    background: #1e2326;
    color: white;
}

/* Encabezado */
/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
} */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 2rem;
    max-width:1100px;
    margin:auto;
}
/* Logo */
.logo a {
    font-family: 'Righteous', sans-serif;
    font-size: 28px;
    font-weight:600;
    color:#1CB698;
}

/* Navegación */
nav {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Color dorado al pasar el mouse */
}

/* Menú responsive */
.nav-responsive {
    display: none;
    cursor: pointer;
}

/* Secciones */
.contenido-seccion {
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Estilo para la lista de habilidades */
.fila {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    min-width: 250px; /* Para que las columnas se ajusten */
    margin: 1rem;
}

.skill {
    margin: 0.5rem 0;
}

.skill li {
    list-style-type: none;
    padding: 0.6rem;
    border: 1px solid #007BFF;
    border-radius: 6px;
    background: #4e4f4f;
    color: white;
}

.skill li:hover {
    background:#1CB698;
    color:white;
    transform:translateY(-2px);
}

/* Sección de contacto */
.contacto {
    /* background: #1e2326;
    color: black;
    padding: 2rem 0;
    text-align: center; */
    background: #1e2326;
    color: white;
}

.contacto img {
    margin-top: 1rem;
}

/* Estilos responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none; /* Esconder menú en móviles por defecto */
    }

    .nav-responsive {
        display: block; /* Mostrar ícono de menú */
    }

    .nav-responsive.active + nav ul {
        display: flex; /* Mostrar menú si está activo */
    }

    .fila {
        flex-direction: column;
    }
}
.site-logo{
    width:30px;
    height:auto;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}